body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    padding: 1vw;

    background-color: #333;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}   

.sub-container {
    max-width: 1400px;
    width: 100%;
    max-height: 700px;
    height: 100%;

    background-color: aliceblue;

    display: grid;
    grid-template-columns: 300px 1fr 80px;
    border-radius: 5px;
}
 
/* Container 1 */
.sub-container-1 {
    width: 100%;
    height: 100%;
    background-color: #e76f51;
    border-radius: 5px 0 0 5px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 1fr 80px;
}

.profile-container {
    padding: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box; 
}

.profile-container h3, .profile-container p {
    margin: 0;
    padding: 0;

    font-family: "IBM Plex Mono", monospace;
}

.profile-image-container {
    width: 100px;
    height: 100px;
    margin: auto;

    background-color: orange;

    border-radius: 50%;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information-container {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    background-color: blanchedalmond;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    box-sizing: border-box;
}

.label-container {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 800;
}

.info-container {
    font-family: "IBM Plex Mono", monospace;
    text-align: end;
    color: rgb(231, 95, 11);
}

.social-container {
    background-color: #e9c46a;
}

/* Container 2 */
.sub-container-2 {
    width: 100%;
    height: 100%;
    
    background-color: #a3ffa3;
    /* background-image: linear-gradient(to bottom left, #a7fdb3, #46864f); */
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
}

.text-container {
    width: 80%;
    height: 200px;
    padding: 50px;
    
    box-shadow: 0 5px 10px #6e816d, 0 10px 15px #333;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../img/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    
    border-radius: 20px;
}

.text-container h1 {
    color: white;
    
    font-family: "Press Start 2P", system-ui;
}

.text-container code {
    color: white;
    font-weight: 800;
}

.text-container code p {
    font-family: "IBM Plex Mono", monospace;
}

.text-container span {
    color: #ffa500;
}

.description-container {
    margin: 20px 0;
    padding: 10px 50px;
    width: 80%;
    height: 80%;

    border-radius: 20px;
}

.description-container h1 {
    color: #0a2e0f;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
}

.description-container p {
    color: #333;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 800;
}

/* Container 3 */
.sub-container-3 {
    width: 100%;
    height: 100%;
    background-color: #e9c46a;
    border-radius: 0 5px 5px 0;
}


@media (max-width: 1030px) {

}